#hamburguer {
    width: 20px;
    height: 20px;
    background-color: red;
    display: inline-block;
    margin-left: 20%;
}

#logo {
    font-family: Arial, Helvetica, sans-serif;
    color: #FF7C76;
    font-size: 20px;
    font-weight: bolder;
}

body {
    background-color: #E5E5E5;
}

#barra-pesquisa {
    height: 21px;
    width: 417px;
    display: inline-block;
    padding: 6px;
    background-color: #FFF;
    border-radius: 16px;
    border: 1px solid #646464;
    color: #5A4B49;
    background-color: #E5E5E5;
}